@font-face {
	font-family: 'Norse Bold';
	src: url('./fonts/Norse-Bold.otf');
	font-weight: bold;
}

:root {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow: hidden;
}

ul {
	list-style: none;
}

.container {
	width: 100%;
	height: 100vh;
	display: flex;
}

.left-container {
	position: relative;
	flex: 4;
	background-image: url('./images/bg.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.left-container section {
	font-size: 0.5rem;
	margin-bottom: 5px;
}

.left-container section a {
	color: white;
}

.logo-container {
	width: 100%;
	height: 12vh;
	padding: 20px 0;
	position: absolute;
	top: 20%;
	background-color: rgba(0, 0, 0, 0.3);
	text-align: center;
}

.logo-container img {
	width: 100px;
	vertical-align: middle;
}

.logo-container span {
	font-family: 'Norse Bold';
	font-size: 5.5rem;
	vertical-align: bottom;
}

.right-container {
	flex: 7;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background-color: #f3f4f6;
}

.right-container p {
	font-weight: bold;
	font-size: 1.2rem;
	line-height: 1.5rem;
}

.right-container div {
	padding-left: 50px;
}

.right-container div span {
	font-style: italic;
}

.right-container form {
	width: 100%;
	background-color: #ffffff;
	padding: 0 10px 20px 10px;
}

.right-container form ul {
	display: grid;
	grid-template-columns: repeat(2, 250px);
	gap: 20px 80px;
}

.right-container form ul h2 {
	grid-column: span 2;
}

.right-container form ul li {
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	width: 250px;
}

label {
	font-size: 0.65rem;
	font-weight: 600;
	letter-spacing: 0.1rem;
	margin-bottom: 0.1rem;
}

input {
	border: 1px solid #e5e7eb;
	border-radius: 4px;
	padding: 7px;
}

input:focus {
	outline: none;
	border: 1px solid rgb(152, 156, 253);
	box-shadow: 4px 5px 11px -3px #a4a3a3;
}

.error,
.error_confirm,
input:invalid {
	border: 1px solid red;
}

form span {
	bottom: 0;
	left: 0;
	color: crimson;
	font-size: 0.5rem;
	text-transform: initial;
	padding-top: 2px;
}

button {
	background-color: #596d48;
	border: none;
	color: white;
	padding: 15px 40px;
	border-radius: 8px;
	box-shadow: 4px 5px 11px -3px #a4a3a3;
	cursor: pointer;
	font-weight: 600;
	font-size: 0.9rem;
	margin-top: 40px;
}

.login-text-container {
	margin-top: 20px;
}

.login-text-container p {
	font-size: 0.95rem;
	font-weight: 600;
}

.login-text-container a {
	color: #596d48;
	cursor: pointer;
}
